<section class="no-padding" id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-offset-2  col-lg-8 text-center">
                <h2 class="section-heading">Recent Projects</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/1.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Wechat MiniProgram
                            </div>
                            <div class="project-name">
                                MindRock
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/2.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Web Design
                            </div>
                            <div class="project-name">
                                Cocktail Lab
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/3.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Wechat MiniProgram
                            </div>
                            <div class="project-name">
                                CloudSuite
                            </div>
                        </div>
                    </div>
                </a>
            </div>
</section>
